@model IEnumerable<Entity_Layer.VehiculoBO>

@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Insertar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_VEHICULO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NUMERO_MATRICULA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ANIO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_VEHICULO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NUMERO_MATRICULA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ANIO)
        </td>
        <td>
            @Html.ActionLink("Editar", "Actualizar", new { ID=item.ID_VEHICULO }) |
            
            @Html.ActionLink("Borrar", "Eliminar", new { ID = item.ID_VEHICULO })
        </td>
    </tr>
}

</table>
