@model IEnumerable<Entity_Layer.TipoMatriculaBO>

@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Insertar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_TIPO_MATRICULA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE_MATRICULA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIPO_MATRICULA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_TIPO_MATRICULA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE_MATRICULA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIPO_MATRICULA)
        </td>
        <td>
            @Html.ActionLink("Editar", "Actualizar", new { ID = item.ID_TIPO_MATRICULA }) |
            
            @Html.ActionLink("Borrar", "Eliminar", new { ID = item.ID_TIPO_MATRICULA })
        </td>
    </tr>
}

</table>
